---
title: Getting Started
---

= partial 'partials/navbar'
%section
  %h1
    Get Started
  %h4
    Here are some usefull ressources to get started in Machine Learning
  :markdown
    + To download python, see here: https://www.python.org/downloads. Before doing so, you can check to see if you already have Python installed by opening a Terminal (Mac) or Command Prompt (Windows) and typing `python` or `python3`. If a shell opens, note the version number. For Tensorflow to work effectively, we recommend using Python 3.6.7.
    + Once you have Python installed, pip should be installed by default. Try the following commands to install OpenAI Gym: `pip install gym`. If this doesn’t work, try the variants: `python -m pip install gym` or `py -m pip install gym` or `pip3 install gym`. This will be dependent upon what command you type in the shell to make Python run.
    + Once you have Gym installed, begin working through the Documentation tutorial here: https://gym.openai.com/docs. To get the code running, we recommend either using Wing101 Ide (https://wingware.com/downloads/wingide-101) or Sublime Text Editor. 
    + For two more non-standard IDE’s, consider using https://atom.io/ or Jupyter Notebook: http://jupyter.org/. For the latter, type `pip install jupyter` [see variants above]. 
    + If you want some fun challenging exercises in Python to start playing around, consider
        + Code Academy: https://www.codecademy.com/learn/learn-python
        + Learn Python Tutorials: https://www.learnpython.org/
        + Challenging exercises:https://www.codewars.com/collections/basic-python
    + After this, we began working through this series of OpenAI Gym tutorials: https://pythonprogramming.net/openai-cartpole-neural-network-example-machine-learning-tutorial/. We went through the first two steps of making the initial population.
    + To apply neural networks, we have to then use Tensorflow. For the basics of Tensorflow:
        + Tutorials Page: https://www.tensorflow.org/tutorials 
        + Adventures in Machine Learning: Tensorflow Neural Networks Deep Q Learning.
        + Keras Activation: https://www.tensorflow.org/api_docs/python/tf/keras/activations

%section
  %h1
    Datasets
  %h4
    These are some free datasets to use
  :markdown
    1. From hands-on ML by Geron:
        1. Open Repos
            1. [UC Irvine ML Repo](http://archive.ics.uci.edu/ml/)
            1. [Kaggle datasets](https://www.kaggle.com/datasets)
            1. [AWS datasets](http://aws.amazon.com/fr/datasets/)
        1. Meta portals
            1. [Data Portals](http://dataportals.org/search)
            1. [OpenDataMonitor](http://opendatamonitor.eu/)
            1. [Quandl](http://quandl.com/)
        1. Others
            1. [Wikipedia](https://goo.gl/SJHN2k)
            1. [Quora](http://goo.gl/zDR78y)
            1. [Subreddit](https://www.reddit.com/r/datasets)
    1. [Wikipedia main one](https://en.wikipedia.org/wiki/List_of_datasets_for_machine-learning_research)
