---
title: Projects
---

= partial 'partials/navbar'
%section
  %h2
    New Project
  %p
    If you're interested in starting your own project, submit an application below!
  %a.btn.btn-primary{href: '/projects/new'}
    Create new project
- data.projects.projects.each do |p|
  %section
    %h2
      = p.name
    %h4
      = p.leaderName
    %a{href: 'https://github.com/UndergraduateArtificialIntelligenceClub/' + p.repo, target: 'blank'}
      GitHub
    %p
      = p.description