---
title: Presentations
---

= partial 'partials/navbar'
%section
  %h1
    Presentations
  %p
    This is a collection of presentations from UAIS members and invited speakers.
- data.presentations.info.each do |p|
  %section
    %h2
      = p.title
    %h4
      = p.name
    %a{href: p.link, target: 'blank'}
      Link to presentation
    %p
      = p.description