@import 'dimensions';

$img-dimension: 100px;

.biography {
  resize: both;
  margin: 40px auto;
  background-color: $section-color-2;
  max-width: 1000px;
  border-radius: 14px;
  padding: 40px 0;

  h2, h3 {
    padding: 0 ($img-dimension / 2);
    margin-bottom: .2em;
  }

  &:nth-child(even) {
    .info .pic {
      float: left;
      left: -$img-dimension;
    }

    .description {
      left: -$img-dimension / 2;
    }
  }

  &:nth-child(odd) {
    .info .pic {
      float: right;
      right: -$img-dimension;
    }

    .description {
      right: -$img-dimension / 2;
    }
  }

  .pic {
    width: $img-dimension * 2;
    height: $img-dimension * 2;
    border-radius: 50%;
    border: solid 8px $section-color-2;
    box-sizing: border-box;
  }

  .info {
    .pic {
      position: relative;
    }

    .description {
      text-align: justify;
      position: relative;
      display: flex;
      flex-flow: column;

      p {
        margin: .5rem 0;
      }

      .slack {
        background-color: rgba($dracula-purple, .5);
        border: solid 1px $dracula-purple;
        border-radius: 3px;
      }

      .blood {
        color: $dracula-red;
      }
    }
  }
}

@media only screen and (max-width: $md) {
  .biography {
    margin: (20px + $img-dimension) auto;
    padding: 1.5rem;
    border-radius: 0;

    .title {
      margin-top: -$img-dimension - 40px;
    }

    h2, h3 {
      padding: 0;
    }

    .pic {
      float: none;
      position: relative;
      bottom: 40px + $img-dimension;
    }

    .info {
      .description {
        position: static;
      }
    }
  }
}