$section-color-1: #191B26;
$section-color-2: #2E324A;
$header-color: #6272A4;
$dracula-cyan: #8BE9FD;
$dracula-green: #50FA7B;
$dracula-red: #FF5555;
$dracula-purple: #BD93F9;

$shadow: 0 0 5px rgba(0, 0, 0, .2);
$shadow-strong: 0 0 6px rgba(0, 0, 0, .6);


.green {
    color: $dracula-green;
}

.white {
    color: white;
}