.form-item {
	margin: 10px 3px 10px 3px;
}

.form-section-title {
	display: block;
	font-weight: 700;
}

.form-btn {
	color: white;
	background-color: darkblue;
	border-radius: 5px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;	
}

.form-box {
	max-width: 400px;
	border: solid 3px lightgray;
	border-radius: 10px;
	margin: 30px auto 30px auto;
	padding: 50px;
}
