@import 'colors';

body.spons{
    background-color: $section-color-2;
}

.spons-head{
    text-align: center;
    color: $dracula-purple;
}

.spons{ 
    text-align:center;
    font-size: large;    
    font-weight: bold;
    color: $dracula-cyan;
    list-style-type:none;
}

.spons li{
    display: inline;
    padding: 15px;
}

.spons img.simg{
    height:118px;
    width: auto;
}

.spons{ 
    text-align:center;
    font-size: large;
    list-style-type:none;
}

.sponsus{
    margin-top: 40px;
    text-align:center;
    font-size:large;
}

.sponsus a{
    color: $dracula-purple;
    text-decoration: none;
    padding: 8px;
    border-radius: 15px;
    background: darkslateblue;
}
.sponsus a:hover{
    border-style: inset;
}