$section-color: #c5a0f0;
$header-color: #19181a;

body {
  width: 100%;
}

header {
  background-color: $header-color;
  color: white;
}

.sec {
  padding: 0 20%;
  width: 100%;
}

.sec:nth-child(odd) {
  background-color: $section-color;
}