$section-color-1: #44475A;
$section-color-2: #6272A4;
$header-color: #282a36;
$dracula-cyan: #8BE9FD;
$dracula-green: #50FA7B;
$dracula-red: #FF5555;

body {
  width: 100%;
}

header {
  background-color: $header-color;
  color: white;

  // h1 {
  //   color: $dracula-red;
  // }
}

.btn {
  border: .05rem solid $dracula-cyan;
}

.btn.btn-primary {
  // background-color: $dracula-red;
}

.btn.btn-link.active,
.btn.btn-link:active,
.btn.btn-link:focus,
.btn.btn-link:hover {
  color: cyan;
}

.btn.btn-link {
  color: $dracula-cyan;
}

.header-title {
  margin-bottom: 0;
}

section {
  padding: 10px 20%;
  width: 100%;

  // &:nth-child(even) {
  //   background-color: $section-color-1;
  // }

  &:nth-child(odd) {
    background-color: $section-color-2;
    color: white;
  }

  &:last-child {
    padding-bottom: 50px;
  }

  // h2 {
  //   color: $dracula-green;
  // }
}