.calendar-frame
  %table.calendar
    %tr#daysOfWeek
      %th Sun
      %th Mon
      %th Tue
      %th Wed
      %th Thu
      %th Fri
      %th Sat
    - (0...5).each do |week| #weeks
      %tr
        - (0...7).each do |day|
          %td.day{id: "box_#{day + (week * 7)}"}
