%header.navbar
  .navbar-section
    = image_tag 'logo.svg', width: '56'
    %h1.header-title
      UAIS
  = partial(:'partials/navbar_links', :locals => {:classes => 'hide-sm'} )
%input.toggle.show-md{ :type => 'checkbox'}
.hamburger.show-md
  .line
= partial(:'partials/navbar_links', :locals => {:classes => 'show-sm'} )
