%header.navbar
  .navbar-section
    = image_tag 'logo.svg', width: '56'
    %h1.header-title
      UAIS
  = partial(:'partials/navbar_links', :locals => {:classes => 'hide-lg'} )
%input.toggle.show-lg{ :type => 'checkbox'}
.hamburger.show-lg
  .line
= partial(:'partials/navbar_links', :locals => {:classes => 'show-lg'} )
