.sponsor
	%h1.spons-head
		Sponsor
	
	.spons
		%a{href: "https://flawlessinbound.ca/"}
			%img.simg(src="/images/flawless-inbound-logo-full.png")
	.sponsus
		%h2.btn.btn-primary
			%a{href: "/"}
				Sponsor Us Here!