%body.spons
	%h1.spons-head
		Sponsor
	
	%ul.spons
		%li
			%a{:href => "https://flawlessinbound.ca/"}
				%img.simg(src="/images/flawless-inbound-logo-full.png")
	%h2.sponsus
		%a{:href => "/"}
			Sponsor Us Here!