%body.spons
	%h1.spons-head
		Sponsors
	
	%ul.spons
		%li
			%a{:href => "/"}
				= image_tag 'logo.svg'
			%br
			Sponsor1
		%li    
			%a{:href => "/"}
				= image_tag 'logo.svg'
			%br
			Sponsor2  
		%li
			%a{:href => "/"}
				= image_tag 'logo.svg'
			%br
			Sponsor3

	%h2.sponsus
		%a{:href => "/"}
			Sponsor Us Here!