.sponsor
	%h1.spons-head
		Sponsor
	
	.spons
		%a{href: "https://flawlessinbound.ca/"}
			%img.simg(src="/images/flawless-inbound-logo-full.png")
	.sponsus
		%a.btn.btn-primary{href: "/"}
			Sponsor Us Here!