%body.spons
	%h1.spons-head
		Sponsors
	
	%ul.spons
		%li
			%a{:href => "/"}
				%img.simg(src="/images/logo.svg")
			%br
			Sponsor1
		%li    
			%a{:href => "/"}
				%img.simg(src="/images/logo.svg")
			%br
			Sponsor2  
		%li
			%a{:href => "/"}
				%img.simg(src="/images/logo.svg")
			%br
			Sponsor3
		%li
			%a{:href => "/"}
				%img.simg(src="/images/logo.svg")
			%br
			Sponsor4
		%li
			%a{:href => "/"}
				%img.simg(src="/images/logo.svg")
			%br
			Sponsor5

	%h2.sponsus
		%a{:href => "/"}
			Sponsor Us Here!