.sponsor
  %h1.spons-head
    Sponsor
  .spons
    - data.sponsors.sponsors.each do |sponsor|
      %a{href: sponsor.link}
        %img.simg{src: sponsor.img}
/
  .sponsus
    %a.btn.btn-primary{href: "/"}
      Sponsor Us Here!
