---
title: Signup Issue
---

= partial "partials/navbar"

%h1.text-center Signup Not Successful

%p.text-center
  Something went wrong with your registration. Please speak with a member of the Executive so we can find out what happened.
