---
title: Assosciate Member Signup
---

= partial "partials/navbar"

%h1.text-center
  Associate Member Signup

%form{action: 'https://api.uais.dev/signup/mysql_stuff', method: 'post'}
  .form-box
    %input{type: 'hidden', name: 'membership', value: 'associate'}
    .grp
      %label.form-item
        First Name
        %sup
          *
      %input.form-item{type: 'text', name: 'firstname', placeholder: 'First Name', required: 'true'}
    .grp
      %label.form-item
        Last Name
        %sup
          *
      %input.form-item{type: 'text', name: 'lastname', placeholder: 'Last Name', required: 'true'}
    .grp
      %label.form-item
        Email
        %sup
          *
      %input.form-item{type: 'email', name: 'email', placeholder: 'example@email.com', required: 'true'}
    .grp.grp-radio
      %label.form-item.form-section-title
        Organization Affiliation
      %label.form-radio
        %input.form-item{type: 'radio', name: 'org', value: 'university'}
        %i.form-icon
        University
      %label.form-radio
        %input.form-item{type: 'radio', name: 'org', value: 'company'}
        %i.form-icon
        Company
      %label.form-radio
        %input.form-item{type: 'radio', name: 'org', value: 'other'}
        %i.form-icon
        Other
    .grp
      %label.form-item.form-section-title
        Name of Organization
      %input.form-item{type: 'text', name: 'orgname', placeholder: 'Organization Name'}
    .grp
      %label.form-item.form-section-title
        Position at Organization
      %input.form-item{type: 'text', name: 'position', placeholder: 'Position Title'}
    %br
    %input.form-btn{type: 'submit', value: 'Submit'}
