---
title: Signup
---

= partial 'partials/navbar'
%h1 Join the Undergraduate Artificial Intelligence Society!

%h2 Regular Members:
Regular Members must be Undergraduate students at the University of Alberta. Please use your @ualberta email address for registration as a regular member. 
%br
%a.btn{href: '/regular-signup'}
  Join the UAIS
%br
%h2 Associate Members:
Associate Members are any member who is not a currently enrolled undergraduate student at the University of Alberta.
%br
%a.btn{href: '/associate-signup'}
  Join the UAIS
