---
title: Signup
---

%h1 Join the Undergraduate Artificial Intelligence Society!

%h2 Regular Members:
Regular Members must be Undergraduate students at the University of Alberta. Please use your @ualberta email address for registration as a regular member. 

%a.btn{href: '/regular-signup'}
  Join the UAIS

%h2 Associate Members:
Associate Members are any member who is not a currently enrolled undergraduate student at the University of Alberta.

%a.btn{href: '/associate-signup'}
  Join the UAIS
