---
title: Signup
---

= partial "partials/navbar"

%h1.text-center Join the Undergraduate Artificial Intelligence Society!

%h2.text-center Regular Members:
%p.text-center Regular Members must be Undergraduate students at the University of Alberta. Please use your @ualberta email address for registration as a regular member. 

.col-sm-11.col-lg-3.col-2.col-mx-auto
  %a.btn.btn-primary.p-centered{href: '/signup/regular'}
    Join the UAIS

%br

%h2.text-center Associate Members:
%p.text-center Associate Members are any member who is not a currently enrolled undergraduate student at the University of Alberta.

.col-sm-11.col-lg-3.col-2.col-mx-auto
  %a.btn.btn-primary.p-centered{href: '/signup/associate'}
    Join the UAIS
