---
import Layout from '@layouts/Default.astro'
import { Image } from '@astrojs/image/components'
import Carousel from '@components/Carousel.astro'
import Calendar from '@components/Calendar.astro'
---

<Layout title='Homepage'>
<>
	<section class="section">
		<h2 class="title is-1 has-text-primary">Hex Tournmanent</h2>
		<p /> Head over to our <a href="/hex">Hex Tournament page</a> for more info.
		<Image
			src="/images/poster.png"
			alt="Computer Hex Tournament Poster"
			width={673}
			height={871}
			format="webp"
		/>
	</section>
	<section class="section">
		<h2 class="title">Basic Information</h2>
		<p></p> The University of Alberta Undergraduate Artificial Intelligence Society
		is a group of students interested in discussing, learning about, and
		applying Artificial Intelligence techniques of all kinds.
		We welcome all students regardless of field of study or AI knowledge.
		You can check <a href="/constitution.pdf">our constitution</a>.
	</section>
	<section class="section">
		<h2 class="title">Meeting Times</h2>
		<p> We hold meetings every week on<strong>Fridays @ 4:00 PM</strong> in the Student Innovation Center (SIC), starting Steptember 9th 2022.
		It's in the connection between CCIS and Biological Sciences. Please refer
		to the calendar below to see what we have planned for that day. </p>
	</section>
	<Carousel />
	<Calendar />
</>
</Layout>
