---
import Layout from '@layouts/Default.astro'
import { Image } from 'astro:assets'
import Carousel from '@components/Carousel.astro'
import Calendar from '@components/Calendar.astro'
---

<Layout title='Homepage'>
<>
<astro>
  <section style="display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center;">
    <img src="/images/logo.svg" alt="UAIS Logo" style="max-width: 48%; height: auto; max-height: 40%;">
    <h1 class = "title" style="color: white;">Undergraduate Artificial Intelligence Society</h1>
  </section>	
	<section class="section">
		<h2 class="title">Description</h2>
		<p></p> The University of Alberta Undergraduate Artificial Intelligence Society
		is a group of students interested in discussing, learning about, and
		applying Artificial Intelligence techniques of all kinds.
		We welcome all students regardless of field of study or AI knowledge.
		You can check <a href="/constitution.pdf">our constitution</a>.
	</section>
	
	<section class="section">
		<h2 class="title">Current Projects</h2>
		<h3 class="title">NHL Panic Index Project</h3>
		<p>Inspired by youtuber, Shannon Skanes AKA 'The Hockey Guy' and his intriguing 'NHL Panic Index' video series, 
		the Undergraduate Artificial Intelligence Society is working on the NHL Panic Index Project. 
		Our mission is to explore the depths of NHL fandom by harnessing the emerging capabilities of Natural Language Processing (NLP).
		By continuously gathering a vast array of sentiments from platforms like Reddit and Twitter, 
		we are striving to develop a methodology to quantify the prevailing 'panic' or concern tied to each NHL team. 
		As this project unfolds, we hope to capture the dynamic emotions coursing through the hockey season, offering a novel, 
		data-driven lens onto the passionate dialogues of fans.</p>
		<br/>
		<p>If you would like to join the team message Jacob Winch on discord</p>
		<br/>
		<p>We meet every Friday in the Student Innovation Center in CCIS from 5:00pm - 6:00pm!</p>
		<br/>
		<h3 class="title">Discord Bot Project</h3>
		<p> In this project, we’ll learn how to build a bot for Discord using the discord.py Python library. 
		The bot will initially be able to handle requests and automate various tasks such as keeping track of members and 
		assigning roles, taking suggestions/feedback from club members, and other features that the team comes up with during 
		brainstorming sessions. We’ll then further enhance these features and add more functionality such as suggesting learning 
		resources and opportunities to people based on their level of expertise by integrating AI functionality into the bot, using 
		tools such as GPT.</p>
		<br/>
		<p>If you would like to join the team message Aarush Bhat on discord</p>
		<br/>
		<p>We meet every Friday in the Student Innovation Center in CCIS from 4:00pm - 5:00pm!</p>
	</section>
	
	<Carousel />
	<Calendar />
</>
</Layout>
