---
title: Redirect
javascript: 'window.location = "https://www.linkedin.com/company/undergraduate-artificial-intelligence-society/"'
---

If you aren't redirected,
%a{href: 'https://www.linkedin.com/company/undergraduate-artificial-intelligence-society/'}
    click here
