---
const currentYear = new Date().getFullYear();
---
<footer class="footer">
	<div class="content has-text-centered">
		<p>
			<strong>UAIS</strong> by the <a href="/team">Undergraduate Artificial Intelligence Society</a>.
		</p>
		<p>
			Copyright {currentYear}. All rights reserved.
		</p>
	</div>
</footer>