---
title: Project Creation Issue
---

= partial "partials/navbar"

%h1.text-center Project Creation Not Successful

%p.text-center
  Something went wrong with your project creation. Please speak with a member of the Executive so we can find out what happened.