---
import Layout from '@layouts/Default.astro'
import { Content } from '@data/projects/alzheimer-ai-screening-tool.mdx'
---
<Layout title='Alzheimer AI Screening Tool Project'>
  <section class="section"><div class="content"><Content /></div></section>
</Layout>