---
import Layout from '@layouts/Default.astro'
import { Content } from '@data/projects/crypto-forecasting.mdx'
---
<Layout title='Crypto Forecasting Project'>
  <section class="section"><div class="content"><Content /></div></section>
</Layout>