---
import Layout from '@layouts/Default.astro'
import Katex from '@components/Katex.astro'
import { Content } from '@data/nhl_positivity_index.mdx'
---

<Layout title='NHL Positivity Index'>
	<section class="section">
       	<Katex>
           	<Content />
        </Katex>
      </section>
</Layout>
