---
import Layout from '@layouts/Default.astro'
import { Content } from '@data/projects/palmpilot-gesture-control.mdx'
---
<Layout title='PalmPilot 2.0 Project'>
  <section class="section"><div class="content"><Content /></div></section>
</Layout>