---
import Layout from '@layouts/Default.astro'
import { Content } from '@data/projects/rag-chatbot-lecture-notes.mdx'
---
<Layout title='RAG Chatbot Project'>
  <section class="section"><div class="content"><Content /></div></section>
</Layout>