---
title: Redirect
javascript: 'window.location = "https://www.eventbrite.ca/e/michael-bowling-deepstack-tickets-72762938909"'
---

If you aren't redirected,
%a{href: 'https://www.eventbrite.ca/e/michael-bowling-deepstack-tickets-72762938909'}
    click here
