---
title: Redirect
javascript: 'window.location = "https://www.eventbrite.ca/e/michael-bowling-deepstack-tickets-72762938909"'
---

If you aren't redirected,
%a{href: 'https://www.eventbrite.ca/e/martin-muller-alpha-go-tickets-88635337681'}
    click here
