---
title: Redirect
javascript: 'window.location = "https://www.eventbrite.ca/e/jonathan-schaeffer-history-of-ai-tickets-72380340547"'
---

If you aren't redirected,
%a{href: 'https://www.eventbrite.ca/e/jonathan-schaeffer-history-of-ai-tickets-72380340547'}
    click here
