---
title: Success
---

= partial "partials/navbar"

%h1.text-center
  Welcome to the Undergraduate Artificial Intelligence Society!

%p.text-center
  Signup Successful

.form-box
  %a.btn{href: '/'}
    Home
  
  %a.btn{href: '/signup'}
    Back to Member Signup
