---
title: Redirect
javascript: 'window.location = "https://github.com/UndergraduateArtificialIntelligenceClub/"'
---

If you aren't redirected,
%a{href: 'https://github.com/UndergraduateArtificialIntelligenceClub/'}
    click here
