---
import Layout from '@layouts/Default.astro'
---
<Layout title='Signup'>
<section class="section">
	<h1 class="title">Join the Undergraduate Artificial Intelligence Society!</h1>
	<div class="columns">
		<div class="column">
			<h1 class="title is-4">Regular Member</h1>
			<p>Regular Members must be Undergraduate students at the University of Alberta.</p>
			<br />
			<a class="button is-info" href="/signup/regular">Join the UAIS</a>
		</div>
		<div class="column">
			<h1 class="title is-4">Associate Member</h1>
			<p>
				Associate Members are any member who is not a currently enrolled
				undergraduate student at the University of Alberta.
			</p>
			<br />
			<a class="button is-info" href="/signup/associate">Join the UAIS</a>
		</div>
	</div>
</section>
</Layout>
