---
import Layout from '@layouts/Default.astro'
---

<Layout title='Signup Issue'>
<section class="section">
	<h1 class="title">Signup Not Successful 😞</h1>
	<h2 class="subtitle has-text-danger">
		Something went wrong with your registration. Please speak with a member
		of the Executive so we can find out what happened.
	</h2>
</section>
</Layout>
