---
import Layout from '@layouts/Default.astro'
---

<Layout title='Success'>
<section class="section">
	<h1 class="title">Welcome to the Undergraduate Artificial Intelligence Society!</h1>
	<h2 class="subtitle has-text-success">Signup Successful</h2>
	<a href="/" class="is-block">Home</a>
	<a href="/signup" class="is-block">Back To Member Signup</a>
</section>
</Layout>
