---
title: calendar
---
%h2#date
  please enable javascript for calendar
= partial 'partials/calendar'

:javascript
  setDate();
  var dateText;
  dateText = document.getElementById('date');
  dateText.innerText = months[month][0] + ' ' + year;
  setCalendar();