---
title: Home
---

= partial 'partials/navbar'
%section
  %h2
    Basic Information
  %p
    :markdown
      The University of Alberta Undergraduate Artificial Intelligence Society
      is a group of students interested in discussing, learning about, and
      applying Artificial Intelligence techniques of all kinds. You can check
      our [constitution](/constitution.pdf).
%section
  = partial 'partials/upcoming'
%section
  %h2
    Meeting Times
  %p
    We meet bi-weekly Friday from 3:30-5:00pm at the Student Innovation Centre, between
    CCIS and the Biological Sciences building.
    We also have a reading group that meets from 1-2pm every Monday in the Student Innovation Centre. We're currently working through the Deep Learning textbook by Ian Goodfellow, Yoshua Bengio, and Aaron Courville
