---
title: Home
---

= partial 'partials/navbar'
%section
  %h2
    Basic Information
  %p
    :markdown
      The University of Alberta Undergraduate Artificial Intelligence Society
      is a group of students interested in discussing, learning about, and
      applying Artificial Intelligence techniques of all kinds. You can check
      our [constitution](/constitution.pdf).
%section
  = partial 'partials/upcoming'
%section
  %h2
    Meeting Times
  %p
    We meet bi-weekly Thursday from 3:30-5:00pm at the Student Innovation Centre, between
    CCIS and the Biological Sciences building.

%section
  = partial 'partials/sponsor'
/
  %section
    %h2
      Events
    %iframe{ src: "https://calendar.google.com/calendar/embed?src=ualberta.ca_jllnjo7p3k6pedrio4ftfah7qg%40group.calendar.google.com&ctz=America%2FEdmonton", style: "border-width:0", width: "800", height: "600", frameborder: "0", scrolling: "no"}
