---
title: Redirect
javascript: 'window.location = "https://alberta.campuslabs.ca/engage/organization/albertaundergradai"'
---

If you aren't redirected,
%a{href: 'https://alberta.campuslabs.ca/engage/organization/albertaundergradai'}
    click here
